@font-face {
	font-family: "Bitch";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/Bitch.ttf");
}

:root {
	color-scheme: dark;
	color: #e5f3fc;
	--darker: #04020f;
	--dark: #3c1b26;
	--dark-t: #{fade-out(#3c1b26, 0.25)};
	--darker-t: #{fade-out(#04020f, 0.25)};
	--light: #b9a58d;
	--lighter: #e5f3fc;
	font-family: "Bitch", "Comic Sans MS", sans-serif;
}

$breakpoint: 40em;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--dark);
}

button,
input[type="radio"],
input[type="submit"],
input[type="file"],
label {
	cursor: pointer;
}

input[type="search"],
input[type="text"],
input[type="number"],
textarea,
select {
	font-family: inherit;
	color: inherit;
	display: block;
	box-sizing: border-box;
	min-height: 2em;
	min-width: 2em;
	max-width: 100%;
	width: 100%;
	padding: 0.5rem;
	font-size: 1em;
	background-color: var(--darker);
	border: solid 1px transparent;
	border-radius: 0.25rem;
	tab-size: 2;

	&:invalid {
		border-color: #f00;
	}

	option {
		color: inherit;
		background-color: inherit;
	}
}

a {
	color: inherit;
	transition: opacity 0.1s ease-out;

	&:hover,
	&:focus-visible {
		opacity: 0.8;
	}
}

div#preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	background-color: var(--darker);
	z-index: 100;
}

header,
section {
	margin-bottom: 1em;
}

#btn-about {
	z-index: 2;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	border-radius: 0;
	border: none;
	background-color: var(--dark-t);
}

#about {
	z-index: 1;
	background-color: var(--dark-t);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2rem;
	text-align: left;
	padding-top: 0.5rem;
	font-size: 0.9em;
	display: block;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&:not(.show) {
		display: none;
	}

	>div>*:not(:first-child)::before {
		content: '•';
		margin-inline: 0.5rem;
	}
}

#btn-about,
#about {
	border-top-left-radius: 0.25rem;
	border-top: solid 1px var(--dark);
	border-left: solid 1px var(--dark);
}

#controls {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	padding: 0.5rem;
	background-color: var(--dark-t);
	border-bottom-right-radius: 0.25rem;
	border-bottom: solid 1px var(--dark);
	border-right: solid 1px var(--dark);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;

	label,
	input,
	select,
	button {
		pointer-events: auto;
	}

	#options-areas,
	#options-tools,
	#options-colour,
	#options-pin {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.25rem;

		input {
			appearance: none;
		}

		hr {
			width: 1px;
			height: 1.5rem;
			background-color: var(--darker-t);
			border: none;
			padding: 0;
			margin: 0;
			margin-inline: 0.2rem;
		}

		>* {
			padding: 0;
			margin: 0;
			display: inline-block;
			width: 2rem;
			height: 2rem;
			border: inset 0.25rem transparent;
			border-radius: 50%;
			transition: opacity 0.05s ease-out;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			&:hover,
			&:focus-visible {
				opacity: 0.8;
			}

			&:active {
				opacity: 0.6;
			}

			&:checked,
			&:not(select):has(:checked) {
				border-color: var(--lighter);
				opacity: 1;
			}
		}


		#options-colour {
			display: contents;

			#stroke {
				border: none;
				flex: auto;
				width: max-content;
				border-radius: 0.25rem;
			}
		}
	}

	#options-areas {
		width: 100%;
		flex-wrap: nowrap;

		>* {
			flex: none;
		}

		select {
			flex: auto;
			border-radius: 0.25rem;
			width: 100%;
		}

		button {
			background-color: var(--darker);
		}
	}

	#options-colour {
		color: black;
		font-size: 0;

		>[value="#000000"] {
			color: white;
		}
	}

	#options-tools,
	#options-pin {
		font-size: 110%;

		>label>input {
			display: none;
		}

		>label:has(:disabled) {
			opacity: 0.25;
			cursor: not-allowed;
		}

		>input {
			background-color: var(--light);
		}
	}

	#options-tools>label {
		background-color: var(--darker);
	}

	#options-pin>label {
		background-color: var(--light);
	}

	#custom-pin-entry {
		border-radius: 0.25rem;
	}

	#btn-grid {
		font-size: 130%;
	}
}

#map-container {
	z-index: -2;
	position: absolute;
	inset: 0;
	background-color: black;
	overflow: hidden;
	background-image: url("./assets/grid.png");

	#map {
		pointer-events: none;
		position: absolute;
		inset: 0;
		user-select: none;
		transform-origin: 0% 0%;

		>* {
			position: absolute;
			inset: 0;
		}

		.layer>* {
			position: absolute;
			pointer-events: auto;
			transform-origin: 50% 50%;
		}

		#drawings {
			overflow: visible;

			>.selected {
				filter: drop-shadow(0 0 0.1rem var(--light)) #{"invert()"};
			}
		}

		#pins {
			>* {
				border-radius: 50%;
			}

			>.selected {
				outline: solid 4px var(--darker);
				border: solid 4px var(--lighter);
			}
		}

		#text>* {
			font-size: 200%;
			white-space: pre;
			background-color: rgba(0, 0, 0, 0.25);
			box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.25);
		}

		#images {
			>* {
				background-color: var(--darker-t);
				object-fit: none;
				object-position: center;
				image-rendering: pixelated;

				&.selected {
					filter: contrast(1.1);

					&::after {
						content: 'paste to add image';
						display: flex;
						position: absolute;
						inset: 0;
						text-align: center;
						align-items: center;
						justify-content: center;
						font-size: 400%;
					}
				}
			}
		}
	}
}

#cursor {
	position: absolute;
	pointer-events: none;

	&.text,
	&.pin {
		opacity: 0.5;
	}

	&.pin {
		transform: translate(-50%, -50%);
	}
}

#context {
	position: absolute;
	background-color: var(--dark-t);
	width: min-content;
	height: min-content;
	min-width: 10rem;
	max-width: 50%;
	max-height: 50%;
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	border: solid 1px var(--dark);
	box-shadow: 0.25rem 0.25rem 0.5rem black;

	&:not(.show) {
		display: none;
	}

	#context-notes {
		flex: none;
	}

	#context-images {
		overflow: auto;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 0.5rem;
		width: 100%;
		min-height: 5rem;

		>li {
			width: 100%;
			min-width: 4rem;
			position: relative;
			padding-top: 2rem;

			button {
				position: absolute;
				top: 0;
				left: 0;
				width: 2rem;
				height: 2rem;

				&:last-of-type {
					left: 2rem;
				}
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
				background-color: black;
			}
		}


		.null {
			text-align: center;
			padding: 0.25rem;
			opacity: 0.5;
		}
	}
}
